.button {
  border-radius: 5px;
  height: 35px;
  font-weight: 400;
  font-size: 14px;
}

.button-normal {
  background: #219653;
  color: #ffffff;
}

.button-inverse {
  background: none;
  border: thin solid #219653;
  color: #219653;
}
