@import '../../styles/main.scss';

h1 {
  font-family: $primary-font;
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding-top: 1em;
}
.main-section {
  margin: 4em 0em 4em 0em;
}
.hero-panel {
  width: 532px;
  height: 60vh;
  background: rgba(128, 128, 128, 0.05);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    padding-top: 1em;
    color: white;
  }
}

.input-panel {
  width: 420px;
  height: auto;
  padding: 4em 0 0 4em;
}

.login-input {
  display: block;
  width: 35vw;
  height: 2.2em;
  margin-bottom: 1em;
  color: white;
}

.login-button {
  width: 35vw;
  height: 41px;
  left: 757px;
  top: 541px;
  border: none;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button-twitter {
  @extend .login-button;
  background: #1da1f2 !important;
  border-radius: 5px;
  span {
    color: white;
    display: inline-block;
  }
  flex-direction: row;
  justify-content: space-evenly;
}

.login-button-facebook {
  @extend .login-button;
  background: #3a559f !important;
  border-radius: 5px;
  span {
    color: white;
    display: inline-block;
  }
  flex-direction: row;
  justify-content: space-evenly;
}
.sign-up-span > a {
  color: green;
  display: inline-block;
  margin-left: 5px;
}
.login-button-google {
  @extend .login-button;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 5px;
  color: black !important;
  span {
    display: inline-block;
  }
  flex-direction: row;
  justify-content: space-evenly;
}
.horizontal-line {
  display: flex;
  p {
    color: #c4c4c4;
    position: relative;
    top: 4px;
  }
  width: 35vw;
}
.line {
  width: 200px;
  height: 0px;
  border: 1px solid #c4c4c4;
}

.social-auth {
  margin-top: 2em;
  height: 160px;
  left: 758px;
  top: 673px;
}

@media (max-width: 769px) {
  .login-button {
    width: 60vw;
  }
  .login-input {
    width: 60vw;
  }

  .horizontal-line {
    width: 60vw;
  }
  .line {
    width: 100px;
  }
}
