.nav-shadow {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.04);
}

.navbar {
  padding: 0.9rem 1rem;
  &.dark-theme a {
    color: #ffffff;
  }
}
.navbar-logo a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #222222;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.display-flex {
  display: flex;
}
