.nav-shadow {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.04);
}

.navbar {
  padding: 0.9rem 1rem;
  &.dark-theme a {
    color: #ffffff;
  }
  &.dark-theme {
    background-color: #212121;
    transition: background-color 0.6s ease;
    color: #ffffff;
  }
}
.navbtn_login {
  padding-top: 3px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #219653;
  }
}

.navbtn_signup {
  padding-top: 3px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
  }
}

.button-inverse {
  background: none;
  border: thin solid #219653;
  color: #219653;
}

.navbar-logo a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #222222;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.display-flex {
  display: flex;
}
