@import '../../styles/partials/variables.scss';

.card {
  &.dark-theme {
    background-color: #222222 !important;
    background-clip: border-box;
    border: none !important;
  }
  &.light-theme {
    border: none !important;
  }
}

.card-title {
  min-height: 38px;
}
.articleCard {
  width: 322px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  margin: 10px 15px;

  .card-img-top {
    max-width: 100%;
    max-height: 182px;
    border-radius: 4px 4px 0px 0px;
  }

  .card-body {
    padding: 10px 0px 0px 0px;
    border-radius: 0px 0px 4px 4px;
  }

  .card-body h5 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 7px;
    line-height: 112.4%;
  }

  .avatar {
    width: 76%;
  }
  .avatarImage {
    width: 36px;
    height: 36px;
    margin: 0px 5px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.42);
    position: relative;
    bottom: 6px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .avatar span {
    font-size: 10px;
    margin-top: 7px;
    line-height: 12px;
  }

  .avatar span small {
    font-weight: 300;
    font-size: 6px;
    line-height: 7px;
  }

  .mins-read small {
    padding: 7px;
    font-family: $secondary-font;
    font-size: 7px;
    line-height: 8px;
    margin-top: 4px;
  }
}

.dark-theme {
  color: white;
  background: rgba(22, 22, 22, 0.89);

  .avatar span small {
    color: #c4c4c4;
  }
}

.light-theme {
  color: #000000;
  .avatar img {
    box-shadow: inset 0 0 0 3px rgba(212, 210, 210, 0.1);
  }
  .avatar small {
    color: rgba(68, 68, 70, 0.81);
  }
}
