* {
  box-sizing: border-box;
}

.carousel-container {
  max-width: 100%;
  padding: 0 5px;
  margin: 0 auto;
  .customFeel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 95%;
    margin: 0 auto;

    div.articleCard:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    color: white;
    background: #219653;
    display: inline-block;
    width: 63px !important;
    height: 63px;
    border-radius: 50%;
    top: 40% !important;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      position: relative;
      top: 35%;
    }
  }
}

.carousel-top-Label {
  text-transform: capitalize;
  margin: 5px auto;
  width: 95%;
  .carousel-label {
    font-size: 14px;
  }

  .carousel-line {
    background: rgba(255, 255, 255, 0.19);
  }

  .explore-all {
    color: #919090;
    font-size: 11px;
    opacity: 0;
    transition: 0.3s all;
  }

  .explore-all:hover {
    opacity: 1;
    cursor: pointer;
  }
}
