@import '../../styles/main.scss';

.signup {
  margin-bottom: 30px;
}
h1 {
  font-family: $primary-font;
  text-align: center;
  font-size: 1.6em;
  padding-top: 1em;
}
.main-section-signup {
  margin: 4em 0em 4em 0em;
}
.hero-panel-signup {
  width: 532px;
  background: rgba(128, 128, 128, 0.05);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .light-signup-hero {
    color: white;
  }

  h5 {
    font-family: Roboto;
    margin-top: 30px;
    font-size: 18px;
    span a {
      color: #219653;
    }
  }
}

.input-panel-signup {
  width: 420px;
  height: auto;
  padding: 0.4em 0 0 4em;
  .loader {
    width: 8%;
    height: 8%;
    margin: 0px auto;
    .loader-text {
      font-size: 10px;
    }
    .loader-sector-green {
      border-top: 1px solid #219653;
    }
    .loader-sector-grey {
      border-top: 1px solid #e8e8e8;
    }
    .loader-sector-dark-grey {
      border-top: 10px solid #181818;
    }
  }
}

.signup-input {
  display: block;
  width: 35vw;
  height: 2.2em;
  margin-bottom: 1em;
  margin-top: 0.1em;
}
.light-dami {
  color: black;
}

.login-button {
  width: 35vw;
  height: 41px;
  max-width: 494px;
  left: 757px;
  top: 541px;
  border: none;
  margin-bottom: 1em;
}

.login-button-twitter {
  @extend .login-button;
  background: #1da1f2 !important;
  border-radius: 10px;
}

.login-button-facebook {
  @extend .login-button;
  background: #3a559f !important;
  border-radius: 5px;
}

.login-button-google {
  @extend .login-button;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 5px;
  color: black !important;
}
.horizontal-line {
  display: flex;
  p {
    color: #c4c4c4;
    position: relative;
    top: 4px;
  }
}
.line {
  width: 200px;
  height: 0px;
  border: 1px solid #c4c4c4;
}

.social-auth {
  margin-top: 2em;
  height: 160px;
  left: 758px;
  top: 673px;
}

.input-validation-error {
  color: rgb(177, 68, 68);
  font-size: 8px;
}

form .signup-auth {
  button span {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    img {
      align-self: center;
      justify-self: center;
    }
    h5 {
      text-align: left;
      align-self: center;
      font-family: Roboto;
      font-size: 17px;
    }
  }
}
.input-error-message-front-end {
  margin-bottom: 0px;
}

@media only screen and (max-width: 700px) {
  .main-section-signup {
    margin: 0px auto;
    .hero-panel-signup {
      display: none;
    }
    .signup-input {
      width: 100%;
    }

    .input-panel-signup {
      padding: 0px;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1392) {
  .main-section-signup {
    .input-panel-signup {
      button {
        width: 95%;
      }
    }
  }
}
