@import '../../styles/partials/variables.scss';

.landingPage {
  transition: background-color 0.6s ease;
  &.light-theme {
    color: $dark-bg;
    background-color: $light-bg;
    transition: background-color 0.6s ease;
  }
  &.dark-theme {
    color: $light-bg;
    background-color: $dark-bg;
    transition: background-color 0.6s ease;
  }
}
